<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/navbar') %>
    <h1>Este es el login</h1>
    <form action="respuesta.html" method="POST" class="formulario">
      <label for="nombreyapellido">Nombre y Apellido: </label>
      <input
        type="text"
        name="nombreyapellido"
        id="nombreyapellido"
        placeholder="Nombre y Apellido"
      />

      <label for="password">Contraseña</label>
      <input type="password" name="password" />
      <div class="botones">
        <button class="button-1" type="reset">Borrar</button>
        <button class="button-1" type="submit">Enviar</button>
      </div>
    </form>
    <%- include ("./partials/footer") %>
  </body>
</html>
