<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <%- include ('./partials/navbar') %>
    <h1>Este es el login</h1>
    <form action="respuesta.html" method="POST" class="formulario">
      <label for="nombreyapellido">Nombre y Apellido: </label>
      <input
        type="text"
        name="nombreyapellido"
        id="nombreyapellido"
        placeholder="Nombre y Apellido"
      />

      <label for="password">Contraseña</label>
      <input type="password" name="password" />
      <div class="botones">
        <button type="reset">Borrar</button>
        <button type="submit">Enviar</button>
      </div>
    </form>
    <%- include ("./partials/footer") %>
  </body>
</html>
