<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <%- include ('./partials/navbar') %>

    <main class="general">
      <form action="/users/registro" method="POST" class="formulario">
        <label for="nombreyapellido">Nombre y Apellido: </label>
        <input
          type="text"
          name="nombreyapellido"
          id="nombreyapellido"
          placeholder="Nombre y Apellido"
        />
        <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
        <input type="date" value="2000-01-01" id="fecha-nacimiento" />

        <!-- En el radio button lo que tiene que ser igual es el name -->
        <label>Sexo:</label>
        <div class="sexo">
          <label>Femenino</label>
          <input type="radio" name="sexo" value="femenino" />
          <label>Masculino</label>
          <input type="radio" name="sexo" value="masculino" />
          <label>Otro</label>
          <input type="radio" name="sexo" value="otro" />
        </div>
        <label for="">Personaje favorito</label>
        <select name="personajes" id="personajes">
          <option value="spider-man" selected>Spider-Man</option>
          <option value="wolverine">Wolverine</option>
          <option value="thor">Thor</option>
          <option value="otro">otro</option>
        </select>
        <label for="foto">Subi una foto para el perfil</label>
        <input type="file" name="foto" id="foto" />
        <label for="password">Contraseña</label>
        <input type="password" name="password" />
        <label for="confirm-password">Confirmar Contraseña</label>
        <input type="password" name="confirm-password" />
        <div class="botones">
          <button class="button-1" type="reset">Borrar</button>
          <button class="button-1" type="submit">Enviar</button>
        </div>
      </form>
    </main>

    <%- include ("./partials/footer") %>
  </body>
</html>
